{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Profile User{% endblock %}
{% block body %}
    
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
        {% for message in messages %}
                <p><strong>{{message}}</strong></p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        {% for message in messages %}
                <p><strong>{{message}}</strong></p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <table>
        <tr valign="top">
            <td><h1>{{user.username}}</h1></td>
        </tr>
    </table> 
       
    Email: &ensp; {{user.email}}
    <hr noshade="noshade" align="left" width="20%">
    <!-- <p><a href="{{ url_for('edit_user', id=id) }}">Edit User</a></p> -->
    
    

{% endblock %}